.header {
  background-color: #fff159;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}